
<div class="toolbar" role="banner">
  <span style="margin-left: 10px">FSM Meknes</span>

  <button mat-menu-item routerLink="/"
          style="font-size: medium;font-weight: bold;width: auto;color:white;border-radius: .7em!important;"
  >
    HOME
  </button>

  <button mat-menu-item
          style="font-size: medium;font-weight: bold; width: auto;color:white;border-radius: .7em!important;"
          routerLink="/products"
  >
    <div>PRODUCT</div>
  </button>

  <div *ngIf="ks.getUserRoles().includes('ADMIN')">
    <button mat-menu-item
       routerLink="/entryForm"
       style="font-size: medium;font-weight: bold;width: auto;color:white;border-radius: .7em!important;">
      ENTRY VOUCHER
    </button>
    </div>

    <mat-menu #exvmenu="matMenu" style="border-radius: .7em">
      <button mat-menu-item (click)="goTo('/xvs')">ADD EXIT VOUCHER</button>

      <button *ngIf="ks.getUserRoles().includes('ADMIN')" mat-menu-item (click)="goTo('/xvlist')">EXIT VOUCHER LIST</button>
    </mat-menu>
    <div *ngIf="ks.isLoggedIn()">
      <button mat-menu-item [matMenuTriggerFor]="exvmenu" aria-label="Menu" style="font-size: medium; font-weight: bold;width: auto;color:white;border-radius: .7em!important;">
        <div>EXIT VOUCHER</div>
      </button>
    </div>

  <div class="spacer"></div>
  <div style="margin-right: 30px" *ngIf="ks.getUserRoles().includes('ADMIN')">
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="createFeuilleComptage()">
        Generate counting sheet
      </button>
      <input
        type="file"
        matFileUpload
        [multiple]="false"
        (change)="onFileChange($event)"
      />
    </mat-menu>

    <button mat-menu-item  [matMenuTriggerFor]="menu" aria-label="Menu" style="width: auto; font-size: medium;font-weight: bold; color: white;">
      <div>COUNTING SHEET</div>
    </button>
  </div>
  <div *ngIf="!ks.isLoggedIn();else signed">
    <button mat-button style="background-color: green;border-radius: 6px; color: #c2c3c4; font-weight: bold; box-shadow: 0px 8px 15px rgba(0, 0.1, 0, 0.1);" (click)="signup()">SignUp</button>
    <button mat-button style="border-radius: 6px; color: black; font-weight: bold; box-shadow: 0px 8px 15px rgba(0, 0.1, 0, 0.1);" (click)="login()">Login</button>
  </div>
  <ng-template #signed>
    <mat-menu #lg="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="lg" aria-label="Menu" style="margin-right: 30px;font-size: medium;color: white">
      <div  *ngIf="profile">{{profile.username|slice:0:6|uppercase}}</div>
    </button>
  </ng-template>

</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
