<mat-card mat-elevation="12">
  <mat-card-title>
    <h1 style="text-align: center">Add product</h1>
  </mat-card-title>
  <mat-card-content>
    <mat-stepper #stepper>
      <!-- Step 1: Product Information -->
      <mat-step [stepControl]="productForm">
        <form [formGroup]="productForm">
          <ng-template matStepLabel>Product Information</ng-template>
          <!-- General Info -->
          <mat-card
            mat-elevation="12"
            style="margin-top: 30px; margin-bottom: 30px"
          >
            <mat-card-content>
              <mat-card-header>
                <h1>General Info</h1>
              </mat-card-header>
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Reference</mat-label>
                <input
                  matInput
                  formControlName="reference"
                  placeholder="Enter reference"
                  required
                />
              </mat-form-field>
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Name</mat-label>
                <input
                  matInput
                  formControlName="name"
                  placeholder="Enter name"
                  required
                />
              </mat-form-field>
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Quantity</mat-label>
                <input
                  matInput
                  formControlName="quantity"
                  placeholder="Enter received quantity"
                  required
                />
                <mat-error
                  *ngIf="
                    productForm.get('quantity')?.hasError('positiveNumber')
                  "
                >
                  Positive numbers Only.
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Warehouse</mat-label>
                <input
                  matInput
                  formControlName="warehouse"
                  placeholder="Enter warehouse"
                  required
                />
              </mat-form-field>
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Ev_Number</mat-label>
                <input
                  matInput
                  formControlName="ev_number"
                  placeholder="Enter ev_number"
                  required
                  readonly=""
                />
              </mat-form-field>
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Supplier</mat-label>
                <input
                  matInput
                  formControlName="supplier"
                  placeholder="Enter supplier"
                  required
                />
              </mat-form-field>
            </mat-card-content>
          </mat-card>

          <!-- Accessories -->
          <mat-card
            mat-elevation="12"
            style="margin-top: 30px; margin-bottom: 30px"
          >
            <mat-card-content>
              <mat-card-header>
                <h1>Accessories</h1>
              </mat-card-header>
              <div formArrayName="accessories">
                <ng-container
                  *ngFor="
                    let accessory of accessoriesArray.controls;
                    let i = index
                  "
                >
                  <div [formGroupName]="i">
                    <mat-form-field
                      appearance="fill"
                      class="example-full-width"
                    >
                      <mat-label>Accessory {{ i + 1 }}</mat-label>
                      <input
                        matInput
                        formControlName="name"
                        placeholder="Enter accessory name"
                        required
                      />
                    </mat-form-field>
                    <button
                      type="button"
                      mat-icon-button
                      color="warn"
                      (click)="removeAccessory(i)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </ng-container>
                <button type="button" mat-button (click)="addAccessory()">
                  Add Accessory
                </button>
              </div>
            </mat-card-content>
          </mat-card>

          <!-- Documents FormArray -->
          <mat-card
            mat-elevation="12"
            style="margin-top: 30px; margin-bottom: 30px"
          >
            <mat-card-content>
              <mat-card-header>
                <h1>Documents</h1>
              </mat-card-header>

              <div formArrayName="documents">
                <ng-container
                  *ngFor="
                    let document of documentsArray.controls;
                    let i = index
                  "
                >
                  <div [formGroupName]="i">
                    <mat-form-field
                      appearance="fill"
                      class="example-full-width"
                    >
                      <mat-label>Document {{ i + 1 }} Name</mat-label>
                      <input
                        matInput
                        formControlName="name"
                        placeholder="Enter document name"
                        required
                      />
                    </mat-form-field>
                    <mat-form-field
                      appearance="fill"
                      class="example-full-width"
                    >
                      <mat-label>Document {{ i + 1 }} URL</mat-label>
                      <input
                        matInput
                        formControlName="url"
                        placeholder="Enter document URL"
                        required
                      />
                    </mat-form-field>
                    <mat-form-field
                      appearance="fill"
                      class="example-full-width"
                    >
                      <mat-label>Document {{ i + 1 }} Type</mat-label>
                      <input
                        matInput
                        formControlName="type"
                        placeholder="Enter document type"
                        required
                      />
                    </mat-form-field>
                    <button
                      type="button"
                      mat-icon-button
                      color="warn"
                      (click)="removeDocument(i)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </ng-container>
                <button type="button" mat-button (click)="addDocument()">
                  Add Document
                </button>
              </div>
            </mat-card-content>
          </mat-card>

          <!--Next Button-->
          <div style="display: flex; justify-content: flex-end">
            <button
              style="font-size: 1.2em"
              mat-button
              matStepperNext
              mat-raised-button
              color="accent"
            >
              Next
            </button>
          </div>
        </form>
      </mat-step>

      <!-- Step 2: Super Tag Information -->
      <mat-step>
        <ng-template matStepLabel>Select Super Tag</ng-template>
        <form [formGroup]="ProductTagFormGroup">
          <mat-card
            mat-elevation="12"
            style="margin-top: 30px; margin-bottom: 30px"
          >
            <mat-card-content>
              <mat-card-header>
                <h1>Select Super Tag</h1>
              </mat-card-header>
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Super Tag Name</mat-label>
                <mat-select
                  formControlName="name"
                  placeholder="Select super tag"
                >
                  <mat-option value="createNew">
                    <button
                      (click)="addNewSupperTag()"
                      mat-flat-button
                      color="primary"
                    >
                      Add New Super Tag
                    </button>
                  </mat-option>
                  <mat-option
                    *ngFor="let superTag of superTags"
                    [value]="superTag.name"
                    >{{ superTag.name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </mat-card-content>
          </mat-card>

          <!-- Buttons -->
          <div style="display: flex; justify-content: flex-end">
            <button
              style="margin-right: 30px; font-size: 1.2em"
              mat-button
              matStepperPrevious
              mat-raised-button
              color="primary"
            >
              Back
            </button>
            <button
              style="font-size: 1.2em"
              mat-button
              matStepperNext
              (click)="updateTagOptions()"
              mat-raised-button
              color="accent"
            >
              Next
            </button>
          </div>
        </form>
      </mat-step>

      <!-- Step 3: Tag Information -->
      <mat-step>
        <ng-template matStepLabel>Select Tag</ng-template>
        <form [formGroup]="ProductTagFormGroup">
          <mat-card
            mat-elevation="12"
            style="margin-top: 30px; margin-bottom: 30px"
          >
            <mat-card-content>
              <mat-card-header>
                <h1>Select Tag</h1>
              </mat-card-header>
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Tag Name</mat-label>
                <mat-select
                  required=""
                  (selectionChange)="onTagSelectionChange($event.value)"
                >
                <mat-option value="createNew">
                  <button
                    (click)="addNewTag()"
                    mat-flat-button
                    color="primary"
                  >
                    Add New  Tag
                  </button>
                </mat-option>
                  <mat-option *ngFor="let tag of tagOptions" [value]="tag">
                    {{ tag }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-card-content>
          </mat-card>
          <!-- Buttons -->
          <div style="display: flex; justify-content: flex-end">
            <button
              mat-button
              matStepperPrevious
              mat-raised-button
              color="primary"
              style="margin-right: 30px; font-size: 1.2em"
            >
              Back
            </button>
            <button
              style="font-size: 1.2em"
              mat-button
              matStepperNext
              mat-raised-button
              color="accent"
            >
              Next
            </button>
          </div>
        </form>
      </mat-step>

      <!-- Step 4: Sheet Information -->
      <mat-step>
        <ng-template matStepLabel>Sheet Information</ng-template>
        <form [formGroup]="ProductSheetFormGroup">
          <mat-card
            mat-elevation="12"
            style="margin-top: 30px; margin-bottom: 30px"
          >
            <mat-card-content>
              <mat-card-header>
                <h1>Sheet Details</h1>
              </mat-card-header>
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Colors</mat-label>
                <input
                  matInput
                  formControlName="color"
                  placeholder="Enter colors"
                  required
                />
              </mat-form-field>
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Weight</mat-label>
                <input
                  matInput
                  formControlName="weight"
                  placeholder="Enter Weight"
                  required
                />
                <mat-error
                  *ngIf="
                    ProductSheetFormGroup.get('weight')?.hasError(
                      'positiveNumber'
                    )
                  "
                >
                  Positive numbers Only.
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Dimensions</mat-label>
                <input
                  matInput
                  formControlName="dimensions"
                  placeholder="WxHxD"
                  required
                />
              </mat-form-field>
              <mat-error
                *ngIf="
                  ProductSheetFormGroup.get('dimensions')?.hasError(
                    'invalidFormat'
                  )
                "
              >
                Dimensions must be in the format WxHxD.
              </mat-error>
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Warnings</mat-label>
                <input
                  matInput
                  formControlName="warnings"
                  placeholder="Enter Warnings"
                  required
                />
              </mat-form-field>
            </mat-card-content>
          </mat-card>
          <!-- Buttons -->
          <div style="display: flex; justify-content: flex-end">
            <button
              style="margin-right: 30px; font-size: 1.2em"
              mat-button
              matStepperPrevious
              mat-raised-button
              color="primary"
            >
              Back
            </button>
            <button
              mat-raised-button
              color="warn"
              mat-button
              (click)="submitForm()"
              [disabled]="!productForm.valid"
              style="font-size: 1.2em"
            >
              Submit
            </button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
  </mat-card-content>
</mat-card>
